.App{
  text-align: center;
  color:darkcyan;
  font-weight: bold;
}

h1{
  color:blue;
}
.title-name{
  color:royalblue;
  font-size: 2em;
  background-color: #eee;
}
.del-guide{
  color:red;
  font-style: italic;
}

li{
  list-style: none;
}